[2020-09-10 03:32] etkachev opened #1 "fix: schematic values with spaces to be wrapped correctly"
## Current Behavior
- When generating terminal commands from form controls, values with spaces would be outputted with spaces but not wrapped.
  - Example: field `tags` with value `scope:shared, type:ui` would output `--tags=scope:shared, type:ui`

## Expected Behavior
- Values with spaces should be wrapped in single quotes.
  - Example: above example should output `--tags='scope:shared, type:ui'`

[2020-09-10 19:40] pf1gura opened #2 "Use npm binaries from project's node_modules instead of global ones"
I don't have `ng cli` installed globally and schematics creation does not work for me

![image](https://user-images.githubusercontent.com/41795518/92792813-29d67100-f3ae-11ea-81d7-05792a3fe8f8.png)
The config above runs `ng generate @schematics/angular:enum --name=test --path=. --no-interactive` which fails with `fish: Unknown command: ng`

[2020-09-10 21:53] etkachev opened #3 "fix: support react projects to run schematics"
## Current Behavior
- when running non-custom schematics, command line uses `ng` which doesn't support other projects that use react for instance.

## Expected Behavior
- update command line to use `nx` instead of `ng` for running generate command

## Motivation
Support projects other than angular

[2020-09-11 03:34] #1 closed

[2020-09-11 03:34] #3 closed

[2020-09-11 09:13] maroon17 opened #6 "[🐛] DRY RUN / RUN double click"
## Current Behaviour

When you (unintentionally) click on one of the buttons (DRY RUN or RUN) second time (while the first click is still processing - i.e. terminal process is running), the action queues.

## Expected Behaviour

The additional clicks shouldn't be processed while the already started operation is running.

## Additional Notes

_Probably it would make sense to disable the buttons whi

[2020-09-11 09:19] maroon17 opened #7 "[🐛] Terminal tab doesn't switch when running commands repeatedly"
## Current Behaviour

When you click DRY RUN, then RUN, then choose another schematic and run DRY RUN again, the terminal window stays open on `RUN` tab, though the active process takes place in another one (tab doesn't switch back).

## Expected Behaviour

When you click DRY RUN, then RUN, then DRY RUN for some other schematic the corresponding terminal tab should be activated providing the feedb

[2020-09-12 21:36] #7 closed

[2020-09-12 22:56] etkachev opened #10 "feat: allow devs to locally set setIdeDirectory from build.gradle"
**Is your feature request related to a problem? Please describe.**
* When developing locally, running the `runIde` command to spin up local webstorm instance for user testing, the directory pointing to the webstorm app is hard coded into the `build.gradle.kts` file.
* Under the `runIde` task, the string passed into `setIdeDirectory` is localized to my (@etkachev) local computer.

**Describe the so

[2020-09-15 02:58] etkachev commented on #2
this was closed by PR #11 .
@pf1gura I am currently working on sending out another [release](https://github.com/etkachev/nx-webstorm/pull/12), might be a couple day's before Jetbrains approves and you see the new update in the plugin. Keep an eye on the update and let us know if you still have problems. Thanks!

[2020-09-15 02:58] #2 closed

[2020-09-15 20:57] etkachev opened #13 "feat: mechanism for refetching schematics"
**Is your feature request related to a problem? Please describe.**
When adding a new schematic to a workspace, the plugin does not have a way to refetch all schematics again to see the newly created schematic.

**Describe the solution you'd like**
- May need to do some refactoring on the Actions and Tabs for the plugin to allow for refetching and reinitializing the list of schematics. This may not

[2020-09-16 17:52] iguissouma opened #16 "Enhance UI experience"
Hello, first thanks for this plugin.

IMHO, it would be better to have a tree in the Nx Tool Window like the gradle or maven integration in Intellij Idea.
<img width="453" alt="Screenshot 2020-09-16 at 19 44 58" src="https://user-images.githubusercontent.com/9085108/93373119-2da63f80-f855-11ea-81d4-d945eafda92e.png">

We can group command like in the nx console for vscode and run by double click o

[2020-09-16 23:06] etkachev commented on #16
Hello @iguissouma! I think that is a good idea as we add more commands for the nx plugin. I will see how feasible it is to get the tree view going 😄

[2020-09-16 23:07] #6 closed

[2020-09-17 03:01] #13 closed

[2020-09-18 13:44] iguissouma commented on #16
Maybe I can contribute to this, I did a POC how I can support Nx like a Js build tool like Gulp, Grunt or NPM.
It looks like this:
<img width="470" alt="Screenshot 2020-09-18 at 15 42 04" src="https://user-images.githubusercontent.com/9085108/93604576-d5db1600-f9c5-11ea-8e9e-1070d3b8b33d.png">

[2020-09-19 16:04] etkachev commented on #16
Yea I've been putting some thought into the tree view, and I think I would probably want to take care of setting up the "Settings" portion of the plugin first, so that users can choose between the different views. Table view might be more in tune and useful for ease of readability and searching if someone mainly uses it to run schematics. The tree view might be helpful for someone who tends to use

[2020-10-13 16:26] etkachev opened #18 "feat: plugin settings"
**Is your feature request related to a problem? Please describe.**
There is no way to choose different configurations for the plugin. Such as:
* explicitly stating which node_modules to search for schematics
* tell plugin whether to scan everything within node_modules for schematics or be explicit
* change the directory location of custom schematics (if they ever change).

**Describe the solution

[2020-10-14 14:11] #18 closed

[2020-10-30 07:38] etkachev opened #22 "feat: autocomplete dropdown of available projects in schematics"
**Is your feature request related to a problem? Please describe.**
It would be nice for schematic properties that expect a source of `projectName` to have a dropdown autocomplete that would feed in the full list of projects in repo. Then user can filter the list as they type.

**Describe the solution you'd like**
We should have a auto complete form control available first, then for any schematic t

[2020-10-30 14:30] #22 closed

[2020-12-17 09:26] iAVP opened #32 "Not starts in WebStorm"
## Current Behavior
The plugin was installed as in the description. One WebStrom works perfect with the pluging. Other one not starts nx-webstrom.

## Expected Behavior
Menu bar has not Nx, the Toll Windows also has no Nx unit. Content menu Nx Generate (Ui) also doesn't exists.
WebStorm doesn't alert any errors.
Has it happened because the second PC has not some requirements?

**Desktop (please co

[2020-12-18 06:23] etkachev commented on #32
Hello @iAVP!
Currently the plugin will only show up in Webstorm in the following scenarios:

[2020-12-18 14:26] iAVP commented on #32
Hello @etkachev!
Sure, bought WebStorms are working with the same workspace. Of course they have  `nx.json` and `angular.json`. But the second WobStorm still has not any Nx toolwindow and Menu. What else it can be? Wrong version of JRLE or something else?

[2020-12-31 19:22] etkachev commented on #32
Hmm. That is interesting. I'm assuming you are using the same webstorm version on both machines? Could you provide a little bit info on step by step on how you open up the project in webstorm on the machine that doesn't work? Only other thing I can think of is something to do with permissions? Not sure

[2021-01-18 08:07] fasidOnGit opened #42 "Allow to set custom location of nx.json or angular.json"
We are on a large maven monorepo where one of the maven submodule is Nx workspace (_yeah I know_), Basically, my root project directory doesn't have `nx.json` or `angular.json`. While the sub folders have them. because of which I cannot use this plugin to generate stuff using Nx.

I'd really appreciate if we could can set the Custom path for `nx.json` or `angular.json` via, `Tools -> Nx Plugin Set

[2021-01-20 21:24] Brian-McBride opened #43 "Missing a lot of generators - React, Gatsby, ..."
## Current Behavior
The Generate list is missing generators from all the installed packages.
The ones that I am currently missing are:
`"@nrwl/gatsby": "^11.0.0",`
`"@nrwl/react": "11.1.5"`

Also, there is a `web` generator in the Visual Studio Code list that is missing from the Webstorm list. I don't use it, but I did notice it missing.

## How to Reproduce
Steps to reproduce the behavior:
1. Ins

[2021-01-20 21:56] etkachev commented on #43
Hello @Brian-McBride! Thank you for posting. I can investigate and try to get back to you soon.

[2021-01-20 22:45] etkachev commented on #42
Hello @fasidOnGit! Yea I can take a look at this and see how quickly I can add this feature 😁

[2021-01-21 00:25] etkachev commented on #43
Ok so I think it should be an easy update on your end.....

## Option 1

1. If you go to your webstorm preferences under `Tools -> Nx Plugin Settings -> External Schematics`, you should be able to add the missing packages to search under. See example of me adding those below:
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/9970746/105256615-ee596980-5b3a-11eb-928e-fce9

[2021-01-21 00:58] fasidOnGit commented on #42
@etkachev  I gave it a thought, it shouldn't be custom location of `nx.json`. it.should be custom location of project folder where `nx.json` is in root.

Because IIUC, that's how everything works in `nx` cli.

[2021-01-21 03:40] etkachev commented on #42
@fasidOnGit yea that's what I was thinking. Just being able to configure the project folder... by default it would be `/`. But in your case you can set it to the directory in which your `nx.json` is located.

[2021-01-22 17:52] etkachev commented on #42
@fasidOnGit I merged in the changes. It has not been published over to jetbrains plugins marketplace, but you can manually install the updated plugin, and let me know if this is what fits your needs. Once I hear from you that this is what you were looking for, I will submit release to jetbrains
[nx-webstorm-0.8.0.zip](https://github.com/etkachev/nx-webstorm/files/5857616/nx-webstorm-0.8.0.zip)

[2021-01-23 13:44] fasidOnGit commented on #42
@etkachev Hello, Thanks for the quick fix. I did set my sub-folder like `/mydir` But, still I see `Nx` disabled

[2021-01-23 17:09] etkachev commented on #42
Have you tried restarting the ide? I noticed it sometimes requires restart after updating the root directory in settings

[2021-01-23 17:13] etkachev commented on #42
Also does the nx tool tab show up on the right side?

[2021-01-24 03:57] fasidOnGit commented on #42
@etkachev Nope it doesn't.

[2021-01-24 04:01] fasidOnGit commented on #42
@etkachev I like the VSCode Nx extension. When I open my project in VsCode and switch to `Nx Console`. It asks me to select the Nx Worspace directory(since, my project root is not a Nx Workspace) and We can choose any Nx Workspace(Even outside the project dir). and after I select I see Nx cosole generate options which will be run in the selected project dir

Try opening a Non-Nx project in VsCode

[2021-01-24 06:47] etkachev commented on #42
That's strange. I did test on a local repo that had the nx workspace a couple directories down.... like example below. You will see where the nx.json is located, which is what it is looking for. Is this a similar directory pattern you have setup?
<img width="1920" alt="Screen Shot 2021-01-23 at 10 42 49 PM" src="https://user-images.githubusercontent.com/9970746/105623197-bd906300-5dcc-11eb-9256-87

[2021-01-24 07:47] fasidOnGit commented on #42
sorry missclick

[2021-01-24 07:52] fasidOnGit commented on #42
@etkachev It does work when i create a new project dir and just nest an nx project like you have did,
![image](https://user-images.githubusercontent.com/27940795/105624351-143a8300-5e47-11eb-92e0-1ed208e88998.png)

But, it doesn't work for my pre-existing intellij workspace (a maven project)

[2021-01-25 03:25] etkachev commented on #42
Ok. I'll try to replicate the problem locally as much as I can. I will create a new maven project, then add a sub-directory within it and generate a new nx project. Let me know if there is anything else I should try in order to replicate the problem as much as I can. Thanks

[2021-01-25 05:23] etkachev commented on #42
@fasidOnGit So I created a clean maven project and generated a new nx project within that. And things seemed to still work. Example below:
<img width="1536" alt="Screen Shot 2021-01-24 at 9 19 25 PM" src="https://user-images.githubusercontent.com/9970746/105664702-2ab5fe00-5e8a-11eb-9b41-22e0c3c07a72.png">

One thing I did notice is that you have an `.idea` folder at the root of your maven project

[2021-01-25 06:37] fasidOnGit commented on #42
@etkachev I removed the nested `.idea` yet, I still see the issue. Also, I did disable `Nx Console Idea` plugin just to be on the safe side. Nothing worked. But I guess, It could be that I have a corrupted `.idea`.

IMHO, this issue can be closed. I will open my project as a fresh workspace. Thanks for the quick fix here :)

[2021-01-25 07:34] etkachev commented on #42
Ok. So does it work when you open your maven project as fresh workspace. And try to run the schematics from the nx sub-directory? If that does work, then I'm assuming I should be safe to publish this version to JetBrains? I can continue improving the experience as we go along 😁

[2021-01-25 07:53] fasidOnGit commented on #42
Yes I confirm that when opening a fresh workspace even with maven I can see it works as expected.

![image](https://user-images.githubusercontent.com/27940795/105676431-81feb180-5f10-11eb-8a9d-e8c981902ea9.png)

[2021-01-25 08:25] etkachev commented on #42
Great! I'll send out the new release to Jetbrains soon! I'm hoping to get in some more features in the near future like running the other nx commands other than generate. It's just been busy lately. Thank you for using the plugin 😄

[2021-01-26 07:45] etkachev commented on #43
Closing since defaults has been added to latest 0.8.0 release. Any other missing packages can be added manually through settings. Let me know if you have any further questions on this. Thanks

[2021-01-26 07:45] #43 closed

[2021-01-26 07:47] etkachev commented on #42
Closing issue. Latest 0.8.0 version of the plugin has been released to Jetbrains marketplace.

[2021-01-26 07:47] #42 closed

[2021-02-10 11:01] BurtV opened #50 "IntelliJ Windows Dissapear after enabling nx-webstorm"
## Current Behavior
After i install and activate the plugin. I restart IntelliJ. then when i open a recent project the intelliJ splash screen comes up, i can see it opening the project and then the window disappears. i have looked and there is no active intelliJ window, yet intelliJ still seems to be running.
Disabling the plugin results in intelliJ behaving normally again.

## How to Reproduce
I

[2021-02-11 03:53] etkachev commented on #50
Hello! I'll take a look and see if I can reproduce. Thanks!

[2021-02-13 04:27] etkachev commented on #50
Hello @BurtV! I tried to reproduce the issue by doing the following:
enabling `nx-webstorm` plugin within my IntelliJ version 2020.3.2 on my Mac. Then proceeded to opening a nx project. Everything loaded as expected and I wasn't getting the same experience you were getting.

Could you provide a couple more information? Do you have Webstorm and have tried doing the same thing on Webstorm? How about

[2021-02-16 10:01] BurtV commented on #50
I will see if i can do a short video of whats happening...

[2021-02-19 06:56] Areen3 opened #54 "plugin crash after opening webstorm"
## Current Behavior
Nx webstorm plugin crashed on new monorepo

## How to Reproduce
run: npx create-nx-workspace --preset=angular
open project under webstorm
## Expected Behavior
not crashed

## Screenshots
![image](https://user-images.githubusercontent.com/34617740/108468828-9c197e80-7287-11eb-8c9e-dd2f8d421475.png)

- Webstorm version [e.g. 2020.3]

## Additional context
when You open in older n

[2021-02-19 19:35] etkachev commented on #54
Hello @Areen3! I did the same reproduction steps as you did, and was not able to reproduce:
1. ran `npx create-nx-workspace --preset=angular`
  - specified org-name
  - specified app-name
  - selected scss
  - selected EsLint
  - selected `Yes` for NxCloud
2. When I opened the new project (org-name) within Webstorm, I did not get any errors, and plugin was working as expected.

But I think I may k

[2021-02-20 08:23] etkachev commented on #54
Hello @Areen3! I pushed in an attempt to the fix. Since I was unable to reproduce the original issue, would you be able to locally install the updated version of the plugin  0.8.2 ([nx-webstorm-0.8.2.zip](https://github.com/etkachev/nx-webstorm/files/6014417/nx-webstorm-0.8.2.zip)). Let me know if you are still getting that error. After Webstorm finished indexing your project, you may need to hit

[2021-02-20 08:44] Areen3 commented on #54
Hello @etkachev
Now it is better, desn't chrash
but not working :)
in oldest project i have:
![image](https://user-images.githubusercontent.com/34617740/108589607-6942b980-735f-11eb-8602-82c4c07a362e.png)
in new projects (geneaterd on latest version i have)
![image](https://user-images.githubusercontent.com/34617740/108589721-0c93ce80-7360-11eb-935f-f80f8e725b90.png)
and of course I installed plug

[2021-02-20 09:00] Areen3 commented on #54
I created new repo
![image](https://user-images.githubusercontent.com/34617740/108590076-ed963c00-7361-11eb-828b-9de8c90e37b9.png)
here is my repo:
https://github.com/Areen3/webstorm-crashed-pligin
here is repo from webstorm (I open tab plugin when indexer finish his job)
![image](https://user-images.githubusercontent.com/34617740/108590132-3b12a900-7362-11eb-95d3-2004393734c8.png)
and the same pr

[2021-02-20 09:04] etkachev commented on #54
Ok. Let me try by pulling down that example repo.

[2021-02-20 09:09] etkachev commented on #54
Just pulled down the repo. And it works fine for me. Did you by any chance do a `npm i` for that repo? Just to make sure all the `node_modules` are setup.
<img width="1401" alt="image" src="https://user-images.githubusercontent.com/9970746/108590414-4fca4f00-7318-11eb-8b4f-bbe15cf14ceb.png">

[2021-02-20 10:08] Areen3 commented on #54
Ok, i do it, but on few hours, now I have serever upgrade :)

[2021-02-20 13:38] Areen3 commented on #54
hm not working,

1) delete nx from global scope
2) I deleted node_modules, package-lock.json,
3) npm i
4) restart computer :)

and not working,

264 / 5000
Wyniki tłumaczenia
to tell you the truth, I have no idea why it doesn't work if the same project works for you

if you have any more points, please write.
Signs indicate that the problem is with my computer
but I have no idea which side to star

[2021-02-20 16:40] etkachev commented on #54
Hmm. I think it should be fine to have nx cli installed globally. Try a few more things:
1. Can you tell me if you see the following file in your project: `node_modules/@nrwl/angular/package.json` and does it have the `schematics` property?
2. Also what version of npm do you currently have? Do you have latest stable version?
3. Maybe there is some permission restriction that doesn't allow the plug

[2021-02-20 19:10] Areen3 commented on #54
Hi
1)  "_from": "@nrwl/angular@11.3.0",
  "_id": "@nrwl/angular@11.3.0"
  and property:   "schematics": "./collection.json",
  2) I reinstalled node, delete node_modules global and cache  and version npm:6.14.11
  3) I installed nx cli globally and webstorm have fully right

I have one more lead
the problem appeared when nx 11.3.0 came out
as I had a few days ago re-installed the environment under

[2021-02-21 09:41] Areen3 commented on #54
I was able to locate the error area

it is about the webstorm environment, namely:
i had something wrong with the .idea folder and installation webstorm
what it was i have no idea what it was, but I did:
1) uninstalled WS, deleted folders from users / appdata and program files, register
2) I installed WS
3) I deleted the .idea folder from the project
4) I started WS and added your plugin version 0

[2021-02-22 10:53] Areen3 commented on #54
Hi
 I understand in 100%
problem is when project start
You can start IDE by open using short cut or type webstorm64 ./
When IDE is started by shortcut name project is C:\aaa
When IDE is started by command line name project is c:\aaa

and low and big letter matters :) during loading schema
works
![image](https://user-images.githubusercontent.com/34617740/108698221-2f5ee800-7504-11eb-92f0-693fbcccb6

[2021-02-23 16:17] etkachev commented on #54
Oh interesting. I'll have to give it a try to see if I can account for that possibility.

[2021-02-23 18:47] Areen3 commented on #54
step to reproduce:
1) go to folder with project, run IDE typing webstrorm64 ./
2) close IDE
3) open IDE  by click shortcut on desktop
4) select last openend project

[2021-02-24 06:02] etkachev commented on #54
Hmm. I may need some other steps to reproduce. When I try to open the IDE from the desktop, it just opens the same previously opened project automatically. No errors. Everything works as expected.

[2021-02-24 16:25] Areen3 commented on #54
webstorm64 it is shortcut, you create it when installing IDE
typiing in any folder webstorm64 ./ couses run ide
in this way, ide record path to folder in diffrent way when you run from file/open

run ide in these two ways and You will see difference on list last open project

[2021-02-24 21:07] etkachev commented on #54
yea that's what I tried... opening both ways.... And opening the IDE via the shortcut, still opened the most recent project automatically, and loaded the schematics without issues.

[2021-02-26 17:30] etkachev commented on #54
Just curious. Are you running on Windows or Mac?

[2021-02-26 17:47] Areen3 commented on #54
I use windows,
i try record some video, but in wrokw in modnay

[2021-06-04 22:08] etkachev commented on #54
@Areen3 hello. any updates on this?

[2021-06-04 22:09] etkachev commented on #50
Hello @BurtV do you still have this issue?

[2021-06-14 15:39] julien-vidal opened #71 "Support $id in schema.json for finding schematics"
**Is your feature request related to a problem? Please describe.**

In last version of json-schema, it seems the id property of a schema has been deprecated in favor of [$id](https://json-schema.org/understanding-json-schema/structuring.html#the-id-property).
It could be interesting to add this property for detect new json-schema and ensure long term schematics detection.

**Describe the solution

[2021-06-15 14:26] etkachev commented on #71
Hello! Yes I can do an update to support this. Thank you for pointing this out.

[2021-06-16 01:12] etkachev commented on #71
@julien-vidal . Quick question. Were you talking in regards to custom schematics within an Nx workspace? Or plain angular project with custom schematics?

[2021-06-16 10:01] julien-vidal commented on #71
I'm talking about custom schematics within an Nx workspace.

Well, as far I can understand Kotlin code, it seems the issue will only happen for custom nx schematics.

The way you detect custom nx schematic from this location [file](https://github.com/etkachev/nx-webstorm/blob/master/src/main/kotlin/com/github/etkachev/nxwebstorm/utils/FindSchematics.kt) seems different from how you detect them in

[2021-06-17 08:08] etkachev commented on #71
I merged in an update, feel free to download latest unreleased version of the plugin (0.9) from the [releases page](https://github.com/etkachev/nx-webstorm/releases). Let me know if it works locally for you with the new `$id` check.

[2021-06-17 10:07] julien-vidal commented on #71
Really cool ! I'll test it as soon the 0.9 will be rolled out.

For now, it seems [releases page](https://github.com/etkachev/nx-webstorm/releases) don't have the 0.9.
Webstorm page doesn't have it too ...

[2021-06-17 14:04] etkachev commented on #71
Oh I just realized that Draft releases aren't available to the public 😅 . I manually uploaded the artifacts to this comment.
[nx-webstorm-0.9.zip](https://github.com/etkachev/nx-webstorm/files/6670839/nx-webstorm-0.9.zip)

Let me know if you're able to test it out.

[2021-06-18 08:03] julien-vidal commented on #71
No problem ! 😄

I tested it and seems work perfectly !
Our customs nx schematics are detected with old `id` and new one `$id`.

Thanks a lot for your reactivity 😉 .
I wait for official 0.9 now ^^.

[2021-06-18 14:25] etkachev commented on #71
Great! I just submitted plugin for pending reviewal... Should see it in marketplace sometime early next week.

[2021-06-21 16:10] etkachev commented on #71
0.9 should be published and available for update in jetbrains marketplace. Closing this ticket. Let me know if there is anything else. Thanks again.

[2021-06-21 16:10] #71 closed

[2021-09-02 03:30] gogoout opened #73 "Action bar disappeared if there's no option for a workspace-schematic"
First of all, thanks for the great plugin.

## Current Behavior
For a workspace-schematic with options, it shows the ui correctly
![image](https://user-images.githubusercontent.com/7570175/131776827-eab6937a-4b5b-45cd-af9a-cc96ee396776.png)
But for the one without options, the action bar disappeared
![image](https://user-images.githubusercontent.com/7570175/131776997-0e5b6d9b-da5b-4bb7-bdc8-efe93b

[2021-09-02 03:37] gogoout commented on #73
On a bit research I found that adding an empty properties fix the problems

[2021-09-02 03:37] #73 closed

[2021-09-02 03:39] etkachev commented on #73
@gogoout Ah ok. Thanks for the heads up. I will keep an eye on it, if it becomes more of a problem.

[2021-09-07 06:43] cluick opened #74 ""Nx" Menu is disabled after upgrade to IntelliJ IDEA 2021.2.1"
## Current Behavior
The menu option "Nx" is disable

## How to Reproduce
-

## Expected Behavior
Menu option "Nx" should be enabled

## Screenshots
![image](https://user-images.githubusercontent.com/1897669/132296698-b351babf-8b0c-4d32-a719-1347ef968e2c.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 21H1 (Build 19043.1165)

IntelliJ IDEA 2021.2.1 (Ultimate Edition

[2021-09-08 17:28] etkachev commented on #74
Hello! I can dig into it to see what might be the problem

[2021-09-08 17:32] cluick commented on #74
Thank you! Is there anything I can do to help you?

Regards, Christof

[2021-09-17 23:00] etkachev commented on #74
@cluick Sorry it's been a busy week at work. I will try to look at this today or over the weekend. I'll let you know if I need more info on how to replicate the issue. Thanks again. Sorry for the delay

[2021-09-19 04:20] etkachev commented on #74
@cluick can you confirm if which nx plugin you have installed? is it [nx-webstorm](https://plugins.jetbrains.com/plugin/15000-nx-webstorm) or [Nx Console Idea](https://plugins.jetbrains.com/plugin/15101-nx-console-idea)

[2021-09-19 08:27] cluick commented on #74
I have installed both plugins.

[2021-09-25 11:09] petterhoel opened #75 "Load default values from workspace.json (angular)"
**workspace.json preferences to be default in plugin gui**
I (nearly) always want changedetection to be OnPush and style to be scss. It is not a hard to change it in the gui, but It would be a slick quality of life thing if the gui used the defaults I put in the `workspace.json`.

**Solution**
Changedetection and styles are the values that is an issue for me, but I would love for the plugin to loa

[2021-10-23 19:11] shaharkazaz opened #76 "Bug 🐞: Can't run @nrwl/react component generator"
## Current Behavior
Can't run the command.

## How to Reproduce
Try and run the command via the plugin

## Envirounment:
  Node : 12.20.0
  OS   : darwin x64 (MacOS Big Sur)
  Webstorm: 2021.2.3
  npm  : 7.24.1

  nx : 13.0.2
  @nrwl/angular : Not Found
  @nrwl/cli : 13.0.2
  @nrwl/cypress : 13.0.2
  @nrwl/devkit : 13.0.2
  @nrwl/eslint-plugin-nx : 13.0.2
  @nrwl/express : Not Found
  @nrwl/jest :

[2021-10-30 04:59] etkachev commented on #76
Yup I believe this has to do with the recent Nx 13 upgrade. Since all the nx.json does not have `projects` in there anymore. All `projects` are now declared in the `workspace.json` or `angular.json`. I will have a fix for this shortly.

[2021-10-30 07:31] elicul commented on #76
Thank you @etkachev. If you need any help in testing just ping me.

[2021-10-30 12:18] mtrefzer opened #78 "Error after "nx g @nrwl/workspace:convert-to-nx-project --all""
## Current Behavior
I converted my nx-project (angular) `nx g @nrwl/workspace:convert-to-nx-project --all` .
Now I'm unable to select any commands from the plugin. Always getting the following error.

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.3
 - Webstorm version 2021.2.3

[2021-10-30 12:26] mtrefzer commented on #78
After the conversion of the nx-project there is no longer an entry ´projects´ in the `nx.json` file.
Instead it  has been moved to the `angular.json` file.

[2021-10-31 05:10] etkachev commented on #76
[nx-webstorm - 0.9.1.zip](https://github.com/etkachev/nx-webstorm/files/7448123/nx-webstorm.-.0.9.1.zip)

Can you guys give this a try? You will have to manually install the plugin. Let me know. Thanks!

[2021-10-31 08:45] Yanduz commented on #76
@etkachev Great, it works! Thanks 👍 (Angular Project)

[2021-10-31 09:27] elicul commented on #76
@etkachev works great! Thank you!

[2021-11-01 02:56] etkachev commented on #76
Awesome. I published the fix to jetbrains. Might be a few days before they approve it and release it to marketplace.

[2021-11-01 02:58] etkachev commented on #78
Yup. This is same as issue mentioned [here](https://github.com/etkachev/nx-webstorm/issues/76). I have a fix with latest [release](https://github.com/etkachev/nx-webstorm/releases/tag/v0.9.1) that was published to Jetbrains. Might be a few days before the update shows up in the marketplace. Will let you know when it's available. Thanks!

[2021-11-01 14:02] etkachev commented on #78
This should be fixed in latest 0.9.1 version. Let me know if you have any other questions. Thanks!

[2021-11-01 14:02] #78 closed

[2021-11-01 14:03] etkachev commented on #76
latest 0.9.1 is available for update. Let me know if there is anything else that comes up. Thanks!

[2021-11-01 14:03] #76 closed

[2021-11-01 14:57] shaharkazaz commented on #76
@etkachev This works, but only if I'm working with per-project configuration.
I think you should still support getting the values from the `angular.json`
Thanks for the fix 🙂

[2021-11-01 18:42] etkachev commented on #75
Hello @petterhoel! Thanks for bring this up. I can add this feature to my plugin, but based on your screenshots, you might be using this plugin instead right? https://github.com/iguissouma/nx-console-idea-plugin

[2021-11-01 18:44] etkachev commented on #76
@shaharkazaz are you referring to when your project is setup with the `project.json` files? That it doesn't work? Like mentioned here in the [docs](https://nx.dev/l/r/core-concepts/configuration#workspacejson-and-projectjson)

[2021-11-01 19:37] petterhoel commented on #75
You are right indeed. I had no idea there was two plugins 🤦‍♂️ So sorry 😃

[2021-11-02 00:06] tamtakoe opened #80 "Doesn't work with custom schematics"
## Current Behavior
There is no custom workspace generators in the IDE menu (in comparison on NX console Idea project)

## How to Reproduce
Make NX project (I used angular-nest preset)
Create generator in the `/tools/generators`.
Set the same directory in the plugin Custom Schematics settings.
Run `nx workspace-generator custom-component "demo-component"` to test that cli works

## Expected Behavi

[2021-11-02 06:59] shaharkazaz commented on #76
@etkachev It was a bug on my end, the project I was trying to execute the commands on wasn't listed correctly. sorry for the noise 🙂

[2021-11-03 06:28] #75 closed

[2021-12-28 15:16] Person-93 opened #83 "Support for yarn plug'n'play"
## Current Behavior
Generators are not found in workspaces configured for yarn [Plug'n'Play](https://yarnpkg.com/features/pnp).

## How to Reproduce
Steps to reproduce the behavior:
1. Create a new workspace
2. Run `yarn set version berry`
3. Delete the node_modules folder
4. Make sure the .yarnrc.yml file does not have `nodeLinker: node_modules`
5. Run `yarn install`
6. Open IDE and go to the nx

[2022-01-07 14:43] etkachev commented on #83
Hello and Happy New Year! I can take a look and try to see what I can do. Thanks

[2022-01-07 18:49] Person-93 commented on #83
Happy new year to you as well.

I looked into it a bit more, and nx does not support yarn plug'n'play nearly as well as I'd thought. A lot of things rely on imports from packages that they transitively depend on, and that breaks with the newer versions of yarn.

I appreciate that you're willing to support that use case but until nx actually works well with it, it's probably not worth your time.

[2022-01-07 19:41] etkachev commented on #83
I see. I can see if Nrwl might have any plans regarding this.

[2022-01-10 15:00] etkachev commented on #83
@Person-93 are you able to open a feature request on the [Nx Repo](https://github.com/nrwl/nx) so that someone from Nx team may look at it? For Nx to support yarn plug n play.

[2022-01-10 15:21] Person-93 commented on #83
@etkachev, there's an [issue](https://github.com/nrwl/nx/issues/2386) that's been open for about a year. There's an [active PR](https://github.com/nrwl/nx/pull/7918) to upgrade to make it work with yarn 2 and 3, I'd imagine plug'n'play support would come after that.

[2022-01-26 11:13] tmtron opened #84 "Add project menu pop-up"
**Is your feature request related to a problem? Please describe.**
It's tedious to always specify the path in the generate schematics

**Describe the solution you'd like**
It would be great to have a new entry in the pop-up menu of the project view, that can open the schematics input form and automatically fill-out the path (and maybe the project), based on the selected directory.
Maybe something

[2022-03-11 11:10] BenjaminGuelle commented on #74
Hello, I have a problem with,
I can see the nx menu but generate is not usable.
In nx devtools I have no plugins installed.
However, I target the nx.json well

config : macbook pro
latest version webstorm and plugin
nx-webstorm and nx console are installed
![Capture d’écran 2022-03-11 à 12 05 10](https://user-images.githubusercontent.com/64549706/157856169-ebb19d62-ca33-4d46-9c58-a7d98ca6d52c.pn

[2022-03-11 11:19] BenjaminGuelle opened #85 "NX Generate in top menu is disable"
Hello

description :
nx-webstorm and nx console plugins are installed
in my repo, create workspace with : `npx create-nx-workspace@latest`
i want use nx generate plugin but it s disable, as in the screenshot

I can see the nx menu but generate is not usable.
In nx devtools I have no plugins installed.
However, I target the nx.json well

config : macbook pro
latest version webstorm and plugin
nx-we

[2022-04-06 03:41] ambeur opened #86 "nx-webstorm is not available in webstorm 2022.1 beta"
Hi! There is no nx-webstorm plugin in marketplace in webstorm 2022.1 beta. Do you have any plans to add support for newer versions of webstorm?

[2022-04-11 21:40] etkachev commented on #86
Sorry still waiting on Jetbrains to officially release Intellij Ultimate 2022. It's still in RC, but keeping an eye on when it will be available for plugin updates

[2022-04-11 22:02] etkachev commented on #84
Thanks! I definitely want to add such a feature... I need to find the time to slot this work in 😅

[2022-04-11 22:03] etkachev commented on #83
Just following up... That PR never got merged in? Is it expected to not be supported for the meantime?

[2022-04-12 11:03] abdul-alim commented on #86
It is released officially now.

[2022-04-12 14:17] etkachev commented on #86
The plugins for webstorm depend on on latest released version of Intellij Ultimate which is still on previous version: https://www.jetbrains.com/idea/download/

But trying to get around it by specifying a EAP-SNAPSHOT version.

[2022-04-12 15:33] m-evasys opened #88 "The plugin is not compatible with the latest IntelliJ IDEA 2022.1 Version."
The plugin is not compatible with the latest IntelliJ IDEA 2022.1 Version.

[2022-04-12 15:35] etkachev commented on #88
Hello! Yea I just got a PR merged in that updates that and should be submitted to plugin store soon

[2022-04-12 17:07] etkachev commented on #86
Uploaded the plugin updates to marketplace, should have it approved next couple days. In the meantime you can manually install the update from the artifacts here: https://github.com/etkachev/nx-webstorm/releases/tag/v0.9.3

[2022-04-12 17:07] etkachev commented on #88
Uploaded the plugin updates to marketplace, should have it approved next couple days. In the meantime you can manually install the update from the artifacts here: https://github.com/etkachev/nx-webstorm/releases/tag/v0.9.3

[2022-04-13 06:35] #88 closed

[2022-04-13 14:06] #86 closed

[2022-04-13 14:20] etkachev opened #90 "fix: error when launching webstorm for first time"
## Current Behavior
When opening webstorm 2022, on launch there is index error when trying to get current project root.

## How to Reproduce
Steps to reproduce the behavior:
1. Launch Webstorm fresh
2. See error and notice the nx tab not load

## Expected Behavior
No errors and the nx toolwindow should still load.

## Screenshots

**Desktop (please complete the following information):**
 - OS: [e.

[2022-04-21 17:06] etkachev commented on #90
Fixed in https://github.com/etkachev/nx-webstorm/pull/91

[2022-04-21 17:06] #90 closed

[2022-04-21 17:11] etkachev commented on #80
Hello. Are you still having this issue?
I did the following:
1. ran `nx generate @nrwl/workspace:workspace-generator --name=custom-component`
2. then searching in the nx toolwindow, I see the new generator below
<img width="666" alt="image" src="https://user-images.githubusercontent.com/9970746/164514430-a7cfe6be-d869-40ac-81b0-2f43c8821be9.png">

[2022-05-16 18:20] adambrangenberg opened #94 "Use kebab-case because the other is depraced for options"
## Current Behavio**u**r
A clear and concise description of what the bug is.

## How to Reproduce
Steps to reproduce the behavio**u**r:
1. Use the latest Angular Version
2. Generate a new Component
3. Check inlineStyle or something different
4. Run it and look at the console

## Expected Behavio**u**r
To use the new way of adding options, so it won't break in the next Angular version

## Screensho

[2022-05-31 04:37] fyodorio opened #95 "Issue with re-running generate command from nx console when integrated terminal window is opened"
## Current Behavior
When I run some `generate` command in nx console in Webstorm it opens the integrated terminal window (or tabs of it, if it's dry run and simple run). If after that I run another command, it doesn't run until I close the already opened terminal window.

## How to Reproduce
Steps to reproduce the behavior:
1. Go to nx console plugin view
2. Choose `generate` and one of the schema

[2022-05-31 17:14] etkachev commented on #95
Hello @fyodorio !!

Good to hear from you. Yea I was trying to run locally and had issues reproducing 🤔
I tried several generators and reran several times with it running successfully. Trying to see what else might be happening.

<img width="1916" alt="image" src="https://user-images.githubusercontent.com/9970746/171234035-e3a5c29e-f8ca-4b71-8d9b-3f9ae7243c3c.png">

[2022-06-11 10:23] fyodorio commented on #95
Hey man, I have recorded the video of the issue finally (sorry it took quite some time), will send you on twitters, I hope it will help. But honestly speaking, I have no idea what could cause that except for some plugin/extension conflict (terminal shell might be the case as well, but shouldn't be, because it's not the shell which is responsible for the terminal window itself or opening/closing it

[2022-06-20 08:27] nhhockeyplayer opened #96 "stack trace crash on startup within jetbrains IDE"
## Current Behavior
stack trace crash on startup within jetbrains IDE

## How to Reproduce
just have the extension installed in webstorm and start to use it

## Expected Behavior
no crash should be happening

[code]

[code]

[2022-09-09 20:35] justinhandley commented on #96
I also am experiencing this.

[2022-09-22 08:50] ntucakovic opened #97 "Not passing falsy values to CLI"
## Current Behavior
A clear and concise description of what the bug is.

## How to Reproduce
Steps to reproduce the behavior:
1. Click `@nrwl/react` library generator in the side panel
2. Find `strict` flag, that defaults to `true`
3. Uncheck it
4. Dry run the command

## Expected Behavior
I expect to pass down `strict=false` to the executed command, so it can be read from retrieved options in JS.

[2022-09-22 13:40] etkachev commented on #97
Hello! Thanks for pointing it out. I will try to look into it soon.

[2022-11-21 15:41] etkachev commented on #80
yea I haven't updated to latest nx features. Do you keep your local generators in different projects within the workspace?

[2022-11-21 15:50] pongells commented on #80
Hmm in my case, I have a library called "tools" under "libs/" and I use it in the entire monorepo. But nothing prevents you from having multiple libraries.. what they call "local plugins" are just special libraries, as far as I understand.

e.g. in the "tools" library I have a file called `generators.json` which contains the definition of the generators available in that library..

[code]

I assum

[2022-11-29 08:16] elicul opened #99 "Incompatible with version WebStorm 2022.3"
## Current Behavior
Unable to use on WebStorm 2022.3.

## How to Reproduce
Steps to reproduce the behavior:
1. Download the latest WebStorm IDE (2022.3)
2. Open WebStorm a notification will appear that nx-webstorm is incompatible

## Expected Behavior
nx-webstorm should be compatible with that version.

## Screenshots
![image](https://user-images.githubusercontent.com/16355755/204475273-e399e80a-9

[2022-11-29 16:48] etkachev commented on #99
Thanks! In the process of updating compatibility. Will keep you posted.

[2022-11-30 18:31] etkachev commented on #99
This should be now updated and published in the marketplace. Not sure if it will just automatically update for you, but I was required to update the name (because prior it included the name webstorm). You should be able to see the 0.13.0 version now. https://plugins.jetbrains.com/plugin/15000-nx-console-ui/

Let me know if you have any other questions

[2022-11-30 18:31] #99 closed